framework:
    cache:
        prefix_seed: '%env(REDIS_CACHE_PREFIX)%'

        system: cache.adapter.system
        app: cache.adapter.redis

        default_redis_provider: '%env(REDIS_CACHE_DSN)%'

        pools:
            graph.cache:
                adapter: cache.adapter.redis
            resource.cache:
                adapter: cache.adapter.redis
