framework:
    messenger:
        # Send failed messages to this transport for later handling.
        failure_transport: failed

        transports:
            async:
                dsn: "%env(MESSENGER_TRANSPORT_DSN_ASYNC)%"
                retry_strategy:
                    # 1, 3, 9, 27
                    max_retries: 4
                    delay: 60000 # 1 minutes
                    multiplier: 3
                    max_delay: 3600000 # 1 hour

            cache:
                dsn: "%env(MESSENGER_TRANSPORT_DSN_CACHE)%"
                retry_strategy:
                    # 1, 2, 4, 8
                    max_retries: 4
                    delay: 60000 # 1 minutes
                    multiplier: 2
                    max_delay: 3600000 # 1 hour

            failed:
                dsn: '%env(MESSENGER_TRANSPORT_DSN_FAILED)%'
                options:
                    auto_setup: 'false'

        routing:
            'App\Message\WebformSubmitMessage': async
            'App\Message\CreateBookingMessage': async
            'App\Message\SendBookingNotificationMessage': async
            'App\Message\SendUserBookingNotificationMessage': async
            'App\Message\AddBookingToCacheMessage': cache
            'App\Message\RemoveBookingFromCacheMessage': cache
            'App\Message\UpdateBookingInCacheMessage': cache

when@test:
   framework:
       messenger:
           transports:
               # replace with your transport name here (e.g., my_transport: 'in-memory://')
               # For more Messenger testing tools, see https://github.com/zenstruck/messenger-test
               async: 'test://'
