services:
  nginx:
    labels:
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-metrics.rule=Host(`${COMPOSE_SERVER_DOMAIN}`) && PathPrefix(`/metrics`) "
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-metrics.middlewares=ITKMetricsAuth@file"

  supervisor:
    image: itkdev/supervisor-php8.1:alpine
    restart: unless-stopped
    stop_grace_period: 20s
    environment:
      - APP_SUPERVISOR_COMMAND=/app/bin/console messenger:consume --env=prod --no-debug --time-limit=900 --failure-limit=1 async cache
      - APP_SUPERVISOR_WORKERS=1
      - APP_SUPERVISOR_USER=deploy
    networks:
      - app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app

  redis:
    image: 'redis:6'
    restart: unless-stopped
    networks:
      - app
