<div class="booking">
    <div class="resource-name">Dokk1 lokale test 1</div>
    <div class="resource-email">dokk1-lokale-test1@aarhus.dk</div>
    <div class="subject">Min test booking</div>
    <div class="start-time" data-format="ISO-8601">2013-05-05T16:34:42+00:00</div>
    <div class="end-time" data-format="ISO-8601">2013-05-05T16:34:42+00:00</div>
    <div class="user-id">[userid1234567890]</div>
    <div class="booker-name">Test Testesen</div>
    <div class="booker-email">test@testesen.dk</div>
    <div class="extra-data">
        <div class="example">Example</div>
    </div>
</div>
