{#
# Variables
#  - data: Data related to booking and resource.
#}

<!DOCTYPE html>
<html>
{% include 'inline-email-head.html.twig' %}
<body>
<table role="presentation" cellspacing="0" cellpadding="24" border="0" align="center" class="document">
    <tr>
        <td valign="top">
            <table role="presentation" cellspacing="0" cellpadding="24" border="0" align="center" width="750" class="container" style="background-color: #ffffff;">
                <tr>
                    <td>
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tr>
                                <td>
                                    <table class="header" role="presentation" cellspacing="0" cellpadding="6" border="0" align="left" width="100%">
                                        <tr>
                                            <td>
                                                <h2>Header</h2>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tr>
                                <td>
                                    <table class="header" role="presentation" cellspacing="0" cellpadding="6" border="0" align="left" width="100%">
                                        <tr>
                                            <td>
                                                {{ 'Success' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ dump(data) }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="container" role="presentation" cellspacing="0" cellpadding="6" border="0" align="center" width="750">
                            <tr>
                                <td>
                                    Denne mail er sendt fra <a href="https://booking.aarhus.dk">Book Aarhus.</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>